# EXTRACT

### STEP 1: Extract data from kaggle's file 'nyt2.json'

Our first challenge started with the data file 'nyt2.json' we downloaded from kaggle. We expected a traditional json file (a list of dictionaries or a dictionary of dictionaries), but it is, instead, a compilation of json files, one per line. We wrote the code below to transform it into a true json file, which we named 'output.json'.

In [8]:
# Import dependencies needed

import json
import pandas as pd
from pprint import pprint

In [9]:
# Load 'nyt2.json' file into dataframe:

raw_nyt = pd.read_json('Resources/nyt2.json', lines=True, orient='columns')
raw_nyt.head()

,_id,amazon_product_url,author,bestsellers_date,description,price,published_date,publisher,rank,rank_last_week,title,weeks_on_list
0,{'$oid': '5b4aa4ead3089013507db18b'},http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Dean R Koontz,{'$date': {'$numberLong': '1211587200000'}},"Odd Thomas, who can communicate with the dead,...",{'$numberInt': '27'},{'$date': {'$numberLong': '1212883200000'}},Bantam,{'$numberInt': '1'},{'$numberInt': '0'},ODD HOURS,{'$numberInt': '1'}
1,{'$oid': '5b4aa4ead3089013507db18c'},http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,{'$date': {'$numberLong': '1211587200000'}},Aliens have taken control of the minds and bod...,{'$numberDouble': '25.99'},{'$date': {'$numberLong': '1212883200000'}},"Little, Brown",{'$numberInt': '2'},{'$numberInt': '1'},THE HOST,{'$numberInt': '3'}
2,{'$oid': '5b4aa4ead3089013507db18d'},http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,{'$date': {'$numberLong': '1211587200000'}},A woman's happy marriage is shaken when she en...,{'$numberDouble': '24.95'},{'$date': {'$numberLong': '1212883200000'}},St. Martin's,{'$numberInt': '3'},{'$numberInt': '2'},LOVE THE ONE YOU'RE WITH,{'$numberInt': '2'}
3,{'$oid': '5b4aa4ead3089013507db18e'},http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,{'$date': {'$numberLong': '1211587200000'}},A Massachusetts state investigator and his tea...,{'$numberDouble': '22.95'},{'$date': {'$numberLong': '1212883200000'}},Putnam,{'$numberInt': '4'},{'$numberInt': '0'},THE FRONT,{'$numberInt': '1'}
4,{'$oid': '5b4aa4ead3089013507db18f'},http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,{'$date': {'$numberLong': '1211587200000'}},An aging porn queens aims to cap her career by...,{'$numberDouble': '24.95'},{'$date': {'$numberLong': '1212883200000'}},Doubleday,{'$numberInt': '5'},{'$numberInt': '0'},SNUFF,{'$numberInt': '1'}

In [10]:
# Save DataFrame 'raw_nyt' into a json file ('output.json') and load it as 'data' we can now work with:

raw_nyt.to_json(path_or_buf='output.json', orient = "records")
with open('output.json') as file:
    data = json.load(file)
#pprint(data)

In [11]:
# Set up lists to hold reponse info:

nyt_ids = []
urls = []
authors = []
bestsellers_dates = []
descriptions = []
prices = []
published_dates = []
publishers = []
ranks = []
ranks_last_week = []
titles = []
weeks_on_lists = []

# Populate the lists:

for item in data:
    nyt_ids.append(item['_id']['$oid'])
    urls.append(item['amazon_product_url'])
    authors.append(item['author'])
    bestsellers_dates.append(item['bestsellers_date']['$date']['$numberLong'])
    descriptions.append(item['description'])
    published_dates.append(item['published_date']['$date']['$numberLong'])
    publishers.append(item['publisher'])
    ranks.append(item['rank']['$numberInt'])
    ranks_last_week.append(item['rank_last_week']['$numberInt'])
    titles.append(item['title'])
    weeks_on_lists.append(item['weeks_on_list']['$numberInt'])
# Here we have to check for the correct keyname before we can extract the price string:
    price_key, = item['price'].keys()
    if price_key == '$numberInt' or price_key == '$numberDouble':
        prices.append(item['price'][price_key])# Populate the lists:

In [56]:
# Create a DataFrame from the lists

bestsellers_dict = {
    "nyt_id": nyt_ids,
    "title": titles,
    "author": authors,
    "url": urls,
    "publisher": publishers,
    "description": descriptions,
    "list_price": prices,
    "published_date": published_dates,
    "bestseller_date": bestsellers_dates,
    "rank": ranks,
    "rank_last_week": ranks_last_week,
    "weeks_on_list": weeks_on_lists
}
bestsellers_data = pd.DataFrame(bestsellers_dict)
bestsellers_data.head()

,nyt_id,title,author,url,publisher,description,list_price,published_date,bestseller_date,rank,rank_last_week,weeks_on_list
0,5b4aa4ead3089013507db18b,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27,1212883200000,1211587200000,1,0,1
1,5b4aa4ead3089013507db18c,THE HOST,Stephenie Meyer,http://www.amazon.com/The-Host-Novel-Stephenie...,"Little, Brown",Aliens have taken control of the minds and bod...,25.99,1212883200000,1211587200000,2,1,3
2,5b4aa4ead3089013507db18d,LOVE THE ONE YOU'RE WITH,Emily Giffin,http://www.amazon.com/Love-Youre-With-Emily-Gi...,St. Martin's,A woman's happy marriage is shaken when she en...,24.95,1212883200000,1211587200000,3,2,2
3,5b4aa4ead3089013507db18e,THE FRONT,Patricia Cornwell,http://www.amazon.com/The-Front-Garano-Patrici...,Putnam,A Massachusetts state investigator and his tea...,22.95,1212883200000,1211587200000,4,0,1
4,5b4aa4ead3089013507db18f,SNUFF,Chuck Palahniuk,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Doubleday,An aging porn queens aims to cap her career by...,24.95,1212883200000,1211587200000,5,0,1

In [13]:
bestsellers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10195 entries, 0 to 10194
Data columns (total 12 columns):
nyt_id             10195 non-null object
title              10195 non-null object
author             10195 non-null object
url                10195 non-null object
publisher          10195 non-null object
description        10195 non-null object
list_price         10195 non-null object
published_date     10195 non-null object
bestseller_date    10195 non-null object
rank               10195 non-null object
rank_last_week     10195 non-null object
weeks_on_list      10195 non-null object
dtypes: object(12)
memory usage: 955.9+ KB

### STEP 2: Scrape info from amazon.com

In this step, we identify the list of unique Amazon URLs from our bestsellers_data DataFrame, and we visit each of those URLs to scrape the Amazon price offer, number of customer reviews, and average 5-star rating.
We encountered our second challenge here, as we had to iterate multiple times through our list of Amazon URLs and repetitively request the info we were seeking. Eventually we were able to scrape info for 1211 URLs out of the 2329 identified in our kaggle dataset.

In [14]:
# Import dependencies needed

from bs4 import BeautifulSoup
import requests
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.119 Safari/537.36"}

In [15]:
# Get list of unique amazon urls

amazon_urls = list(dict.fromkeys(urls))
len(amazon_urls)

2329

# Set-up lists to store scraped info and user-defined functions for the iterations

reviews = []
ratings = []
offers = []
img_urls = []

def get_nb_reviews(x_url):
    if x_url not in [url for (url, _) in reviews]:
        response = requests.get(x_url, headers=headers)
        soup = BeautifulSoup(response.text, 'lxml')
        review = soup.find_all('span', id="acrCustomerReviewText")[0].text
        reviews.append((url, review))

def get_rating(x_url):
    if x_url not in [url for (url, _) in ratings]:
        response = requests.get(x_url, headers=headers)
        soup = BeautifulSoup(response.text, 'lxml')
        rating = soup.find('span', class_="a-icon-alt").text
        ratings.append((url, rating))

def get_offer(x_url):
    if x_url not in [url for (url, _) in offers]:
        response = requests.get(x_url, headers=headers)
        soup = BeautifulSoup(response.text, 'lxml')
        offer = soup.find('span', class_="a-size-medium a-color-price offer-price a-text-normal").text
        offers.append((url, offer))

def get_img(x_url):
    if x_url not in [url for (url, _) in img_urls]:
        response = requests.get(x_url, headers=headers)
        soup = BeautifulSoup(response.text, 'lxml')
        img_url = soup.find('div', id='img-canvas').find('img')['data-a-dynamic-image']
        img_urls.append((url, img_url))

# Extract info from amazon using requests

missing_urls = []
for url in amazon_urls:
    try:
        get_offer(url)
        get_img(url)
        get_nb_reviews(url)
        get_rating(url)
        print(url)
    except (AttributeError, RuntimeError, TypeError, NameError, IndexError):
        print("error")
        missing_urls.append(url)

# TRANSFORM

### STEP 1: Transform data from 'bestsellers_data' DataFrame

All data extracted from the json file and read into our bestsellers_data DataFrame has a the type 'string'. We now need to transform some of into the correct data type. Specifically:
- 'list_price' should have the float type
- 'published_date' and 'bestseller_date' should be formatted as dates
- 'rank', 'rank_last_week', and 'weeks_on_list' should have the integer type

In [57]:
# Import dependencies needed

import numpy as np
from datetime import datetime

In [58]:
# Load our file of scraped Amazon data ('join_data.csv') into dataframe

Amazon_data = pd.read_csv("Output/join_data.csv")
Amazon_data.head()

,Unnamed: 0,url,reviews,rating,price
0,0,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,237 customer reviews,3.5 out of 5 stars,$9.99
1,20,http://www.amazon.com/The-Whole-Truth-David-Ba...,"1,064 customer reviews",4.4 out of 5 stars,$9.99
2,24,http://www.amazon.com/Story-Edgar-Sawtelle-Dav...,"2,573 customer reviews",3.8 out of 5 stars,$8.99
3,288,http://www.amazon.com/The-Quilters-Kitchen-Qui...,218 customer reviews,3.6 out of 5 stars,$10.99
4,289,http://www.amazon.com/Testimony-A-Novel-Anita-...,408 customer reviews,3.9 out of 5 stars,$7.99

In [59]:
# Merge both dataframes

df = pd.merge(bestsellers_data, Amazon_data , on='url',how='inner')
df.head()

,nyt_id,title,author,url,publisher,description,list_price,published_date,bestseller_date,rank,rank_last_week,weeks_on_list,Unnamed: 0,reviews,rating,price
0,5b4aa4ead3089013507db18b,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27,1212883200000,1211587200000,1,0,1,8319,920 customer reviews,4.4 out of 5 stars,$7.99
1,5b4aa4ead3089013507db1a1,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27,1213488000000,1212192000000,3,1,2,8319,920 customer reviews,4.4 out of 5 stars,$7.99
2,5b4aa4ead3089013507db1b9,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27,1214092800000,1212796800000,7,3,3,8319,920 customer reviews,4.4 out of 5 stars,$7.99
3,5b4aa4ead3089013507db1ce,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27,1214697600000,1213401600000,8,7,4,8319,920 customer reviews,4.4 out of 5 stars,$7.99
4,5b4aa4ead3089013507db1e6,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27,1215302400000,1214006400000,12,8,5,8319,920 customer reviews,4.4 out of 5 stars,$7.99

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7639 entries, 0 to 7638
Data columns (total 16 columns):
nyt_id             7639 non-null object
title              7639 non-null object
author             7639 non-null object
url                7639 non-null object
publisher          7639 non-null object
description        7639 non-null object
list_price         7639 non-null object
published_date     7639 non-null object
bestseller_date    7639 non-null object
rank               7639 non-null object
rank_last_week     7639 non-null object
weeks_on_list      7639 non-null object
Unnamed: 0         7639 non-null int64
reviews            7639 non-null object
rating             7639 non-null object
price              7639 non-null object
dtypes: int64(1), object(15)
memory usage: 1014.6+ KB

In [61]:
# Drop column 'Unnamed: 0'

df.drop('Unnamed: 0', axis=1, inplace=True)

In [62]:
# Convert 'list_price' and 'price' to float:

df['list_price'] = df['list_price'].apply(lambda x : float(x))
df['price']=df['price'].replace('[\$,]', '', regex=True).astype(float)

In [63]:
# Convert 'published_date' and 'bestseller_date' from unix time stamp to date format:

df['published_date'] = df['published_date'].apply(lambda x : datetime.utcfromtimestamp(int(x[:10])).strftime('%Y-%m-%d'))
df['bestseller_date'] = df['bestseller_date'].apply(lambda x : datetime.utcfromtimestamp(int(x[:10])).strftime('%Y-%m-%d'))

In [64]:
# Convert 'rank', rank_last_week', and 'weeks_on_list' to integer:

df['rank'] = df['rank'].apply(lambda x : int(x))
df['rank_last_week'] = df['rank_last_week'].apply(lambda x : int(x))
df['weeks_on_list'] = df['weeks_on_list'].apply(lambda x : int(x))

In [65]:
df['reviews'] = df['reviews'].str.replace(',', '')
df['reviews'] = df['reviews'].apply(lambda x : int(x.split()[0]))
df['rating'] = df['rating'].apply(lambda x : float(x.split()[0]))
df.head()

,nyt_id,title,author,url,publisher,description,list_price,published_date,bestseller_date,rank,rank_last_week,weeks_on_list,reviews,rating,price
0,5b4aa4ead3089013507db18b,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27.0,2008-06-08,2008-05-24,1,0,1,920,4.4,7.99
1,5b4aa4ead3089013507db1a1,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27.0,2008-06-15,2008-05-31,3,1,2,920,4.4,7.99
2,5b4aa4ead3089013507db1b9,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27.0,2008-06-22,2008-06-07,7,3,3,920,4.4,7.99
3,5b4aa4ead3089013507db1ce,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27.0,2008-06-29,2008-06-14,8,7,4,920,4.4,7.99
4,5b4aa4ead3089013507db1e6,ODD HOURS,Dean R Koontz,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Bantam,"Odd Thomas, who can communicate with the dead,...",27.0,2008-07-06,2008-06-21,12,8,5,920,4.4,7.99

In [66]:
# Rename some columns

df = df.rename(columns={"list_price":"NYT_Price", "price":"Amazon_Price", 'url':'Amazon_url', 'reviews': 'nb_Amazon_reviews', 'rating': 'star_rating'})

In [105]:
# Group data by bestseller

grouped = df.groupby('Amazon_url')
bestsellers_df = grouped['Amazon_url', 'title', 'author', 'publisher', 'description', 'star_rating', 'nb_Amazon_reviews', 'weeks_on_list', 'NYT_Price', 'Amazon_Price'].max()

# Calculate additional columns

bestsellers_df['first_date_listed'] = grouped[['published_date']].min()
bestsellers_df['last_date_listed'] = grouped[['published_date']].max()
bestsellers_df['worst_rank'] = grouped[['rank']].max()
bestsellers_df['best_rank'] = grouped[['rank']].min()
bestsellers_df['times_listed'] = grouped[['Amazon_url']].count()
bestsellers_df["better_price"] = bestsellers_df.apply(lambda row : 'Amazon' if row['NYT_Price'] > row['Amazon_Price'] else 'NYT', axis=1)
bestsellers_df.head()

,Amazon_url,title,author,publisher,description,star_rating,nb_Amazon_reviews,weeks_on_list,NYT_Price,Amazon_Price,first_date_listed,last_date_listed,worst_rank,best_rank,times_listed,better_price
Amazon_url,,,,,,,,,,,,,,,,
http://www.amazon.com/10th-Anniversary-Womens-Murder-Club/dp/1455511463?tag=NYTBS-20,http://www.amazon.com/10th-Anniversary-Womens-...,10TH ANNIVERSARY,James Patterson and Maxine Paetro,"Little, Brown",Detective Lindsay Boxerâ€™s long-awaited wedding...,4.6,1365,8,27.99,9.99,2011-05-22,2011-07-24,18,2,10,Amazon
http://www.amazon.com/11-22-63-A-Novel/dp/1451627297?tag=NYTBS-20,http://www.amazon.com/11-22-63-A-Novel/dp/1451...,11/22/63,Stephen King,Scribner,An English teacher travels back to 1958 by way...,4.5,26427,21,35.00,10.99,2011-11-27,2012-05-13,20,1,23,Amazon
http://www.amazon.com/11th-Hour-Womens-Murder-Club/dp/0446571830?tag=NYTBS-20,http://www.amazon.com/11th-Hour-Womens-Murder-...,11TH HOUR,James Patterson and Maxine Paetro,"Little, Brown","When a millionaire is gunned down, Detective L...",4.6,1858,8,27.99,9.99,2012-05-27,2012-07-29,20,1,10,Amazon
http://www.amazon.com/12th-Never-Womens-Murder-Club/dp/1455515795?tag=NYTBS-20,http://www.amazon.com/12th-Never-Womens-Murder...,12TH OF NEVER,James Patterson and Maxine Paetro,"Little, Brown","One week after the birth of her baby, Detectiv...",4.5,3789,6,0.00,9.99,2013-05-19,2013-06-30,19,1,7,NYT
http://www.amazon.com/14th-Deadly-Womens-Murder-Club/dp/031640702X?tag=NYTBS-20,http://www.amazon.com/14th-Deadly-Womens-Murde...,14TH DEADLY SIN,James Patterson and Maxine Paetro,"Little, Brown",Detective Lindsay Boxer and her friends must r...,4.3,4140,7,0.00,9.99,2015-05-24,2015-07-12,20,1,8,NYT

# LOAD

In [96]:
# Import dependencies needed

import pymongo

In [116]:
# Initialize PyMongo to work with MongoDB

conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Check if database exists already and drop it if so

dblist = client.list_database_names()
if "nyt_bestsellers" in dblist:
    client.drop_database("nyt_bestsellers")

In [117]:
# Define database and collection

db = client.nyt_bestsellers
collection = db.bestsellers

In [118]:
# Create a list of dictionaries that hold the mongoDB documents to be inserted

post = bestsellers_df.to_dict(orient='records')
print(f"Posting {len(post)} documents into collection of bestsellers inside nyt_bestsellers mongo database...")

# Insert the list of documents into the database

collection.insert_many(post)

Posting 1211 into collection of bestsellers inside nyt_bestsellers_db